body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    background-image: url('mandalore-main_e664e9b9.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

ul, li, h1, h2, p{
    margin: 0;
    padding: 0;
    list-style: none;
}
/*Seccion menu*/

.menu{
    height: 5dvh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
}

.menu-container--item{
    display: flex;
}

.menu-item{
    margin: auto;
    margin-top: 0.8rem;
}

.menu-item--enlace{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 0.4rem;
    border-left: 0.1px solid #333;
    border-right: 0.1px solid #333;
}

.menu-item--enlace:hover{
    color: #fff;
    background-color: rgb(104, 118, 131);
    border: 1.5px solid #fff;
}

/*seccion inicio*/

.section-inicio{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    text-transform: uppercase;
}

.section-inicio--titulo{
    margin: auto;
    margin-top: 30vh;
    margin-bottom: 15vh;
    font-size: 5rem;
}

.section-inicio--subtitulo{
    margin: auto;
    margin-top: 0vh;
    font-size: 3rem;
}

/*
